.standard-input{
    display: block;
    border: 0;
    border-bottom: 1px solid $color-grey-2;
    padding: 15px 0;
    font-size: calc-em(36px);
    font-weight: 100;
    width: 100%;
    margin-bottom: 50px;
    color: $color-brand-green;
}