.standard-input{
    display: block;
    border: 0;
    border-bottom: 1px solid $color-grey-2;
    padding: 15px 0;
    font-size: calc-em(36px);
    font-weight: 100;
    width: 100%;
    margin-bottom: 50px;
    color: $color-grey-4;
}

.standard-input-container{
    label{
        color: $color-brand-green;
        margin-bottom: 10px;
        display: block;
    }


    &--radio{
        margin-bottom: 50px;
    }

    input[type="radio"]{

    }
}

.standard-radio{
    display: inline-block;
    margin-right: 10px;
    color: $color-brand-blue;
}

.radio-set{
    margin-top: 20px;
}