
body{
    font-family: $font-primary;
    color: $color-grey-4;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: calc-em(10px);
    color: $color-brand-blue;
}

h2{
    @include breakpoint(bp-m){
        font-size: calc-em(36px);
    }
}

p{
    margin: 0 0 30px 0;
    line-height: calc-em(24px);
    // &:last-of-type{
    //     margin: 0;
    // }
}

.intro-text{
    margin-bottom: 50px;
}